In [143]:
def overview_data(df):
    '''
    Return a summarise table of the data
    Consist of column types, n_unique, examples entries, number of zeros, zeros portion,
    number of negatives, negative portion and the absolute sum of negative compare to sum of positive
    
    Required functions: summarise_zero, summarise_negative
    Required packages: pandas
    
    Argument: dataframe    
    '''
    import pandas as pd
    
    df_summary = pd.DataFrame(data = df.columns, columns = ['Column'])
    
    df_summary['type'] = None
    df_summary['n_unique'] = None
    df_summary['examples'] = None
    df_summary['n_zeros'] = None
    df_summary['zero_portion'] = None
    df_summary['n_negatives'] = None
    df_summary['negative_portion'] = None
    df_summary['abs_sum_portion'] = None
    
    
    for i in range(len(df_summary['Column'])):
        col_type = df.iloc[:, i].dtype
        df_summary.loc[:, 'type'][i] = col_type
        df_summary.loc[:, 'n_unique'][i] = df.iloc[:, i].nunique()
        df_summary.loc[:, 'examples'][i] = pd.unique(df.iloc[:, i])[:10]
        if col_type == type(1) or col_type == type(0.1):
            df_summary.loc[:, 'n_zeros'][i], df_summary.loc[:, 'zero_portion'][i] = summarise_zero(df.iloc[:, i])
            df_summary.loc[:, 'n_negatives'][i], df_summary.loc[:, 'negative_portion'][i], df_summary.loc[:, 'abs_sum_portion'][i] = summarise_negative(df.iloc[:, i])
        
    return df_summary

In [44]:
def summarise_zero(df_column):
    import pandas as pd
    length = len(df_column)
    n_zeros = sum(df_column == 0)
    df_zero = pd.Series([n_zeros, n_zeros/length], index = ['n_zeros', 'zero_portion'])
    return df_zero

In [134]:
def summarise_negative(df_column):
    '''
    Return a pandas series consist of number of negative figures in a chosen column,
    the portion of it in the data and its impact (portion of negative sum over positive sum)
    Argument:
        df_column: a pandas dataframe column, or a pandas series
    '''
    import pandas as pd
    negative = pd.DataFrame(df_column.values, columns = ['col']).query('col < 0')
    n_neg = len(negative)
    abs_sum_neg = negative.sum().abs()[0]
    positive = pd.DataFrame(df_column.values, columns = ['col']).query('col > 0')
    n_pos = len(positive)
    sum_pos = positive.sum()[0]
    df_negative = pd.Series(data = {
        'n_negatives' : n_neg,
        'negative_portion' : n_neg / (n_neg + n_pos),
        'abs_sum_portion' : (abs_sum_neg / sum_pos)
    })
    return df_negative

In [144]:
# import pandas as pd
# a = pd.read_csv('df_test.csv')
# overview_data(a)

,Column,type,n_unique,examples,n_zeros,zero_portion,n_negatives,negative_portion,abs_sum_portion
0,current_amount,float64,898,"[5000.0, 2500.0, 2400.0, 10000.0, 3000.0, 7000...",0,0,0,0,0
1,durations,object,2,"[ 36 months, 60 months, nan]",None,None,None,None,None
2,interest,object,394,"[ 10.65%, 15.27%, 15.96%, 13.49%, 12.69%, ...",None,None,None,None,None
3,monthly,float64,16459,"[162.87, 59.83, 84.33, 339.31, 67.79, 156.46, ...",0,0,0,0,0
4,rank,object,7,"[B, C, A, E, F, D, G, nan]",None,None,None,None,None
5,home_ownership,object,5,"[RENT, OWN, MORTGAGE, OTHER, NONE, nan]",None,None,None,None,None
6,income,float64,5597,"[24000.0, 30000.0, 12252.0, 49200.0, 80000.0, ...",0,0,0,0,0
7,verification_status,object,3,"[Verified, Source Verified, Not Verified, nan]",None,None,None,None,None
8,day_recorded,object,55,"[Dec-2011, Nov-2011, Oct-2011, Sep-2011, Aug-2...",None,None,None,None,None
9,stat,object,4,"[Fully Paid, Charged Off, nan, Does not meet t...",None,None,None,None,None
10,usage,object,14,"[credit_card, car, small_business, other, wedd...",None,None,None,None,None
11,record,float64,2894,"[27.65, 1.0, 8.72, 20.0, 17.94, 11.2, 23.51, 5...",206,0.00484273,0,0,0
12,first_entry,object,530,"[Jan-1985, Apr-1999, Nov-2001, Feb-1996, Jan-1...",None,None,None,None,None
13,recent_entries,float64,44,"[3.0, 2.0, 10.0, 15.0, 9.0, 7.0, 4.0, 11.0, 14...",0,0,0,0,0
14,total_entries,float64,83,"[9.0, 4.0, 10.0, 37.0, 38.0, 12.0, 11.0, 13.0,...",0,0,0,0,0
15,invoice,float64,40102,"[5833.84, 1014.53, 3005.67, 12231.89, 4066.91,...",297,0.00698199,0,0,0
16,interest_amount,float64,37462,"[863.16, 435.17, 605.67, 2214.92, 1066.91, 632...",83,0.0019512,0,0,0
17,recent_date,object,112,"[Jan-2015, Apr-2013, Jun-2014, Jan-2017, May-2...",None,None,None,None,None
18,recent_pay,float64,37260,"[171.62, 119.66, 649.91, 357.48, 67.3, 161.03,...",96,0.00225681,0,0,0