In [27]:
def overview_data(df, na = None, null = None, zero = None, negative = None):
    '''
    Return a summarise table of the data
    Consist of column types, n_unique, examples entries, number of na/null and portion,
    number of zeros, zeros portion,
    number of negatives, negative portion and the absolute sum of negative compare to sum of positive
    
    Required functions: summarise_zero, summarise_negative, summarise_na, summarise_null
    Required packages: pandas
    
    Arguments: dataframe - required
        Specify 'yes' to na - if need na summaries
                        null - if need null summaries
                        zero - if need zero summaries
                        negative - if need negative summaries
    '''
    import pandas as pd
    
    df_summary = pd.DataFrame(data = df.columns, columns = ['Column'])
    
    df_summary['type'] = None
    df_summary['n_unique'] = None
    df_summary['examples'] = None
    if na:
        df_summary['n_na'] = None
        df_summary['na_portion'] = None
    if null:
        df_summary['n_null'] = None
        df_summary['null_portion'] = None
    if zero:
        df_summary['n_zeros'] = None
        df_summary['zero_portion'] = None
    if negative:
        df_summary['n_negatives'] = None
        df_summary['negative_portion'] = None
        df_summary['abs_sum_portion'] = None
    
    
    for i in range(len(df_summary['Column'])):
        col_type = df.iloc[:, i].dtype
        df_summary.loc[i, 'type'] = col_type
        df_summary.loc[i, 'n_unique'] = df.iloc[:, i].nunique()
        df_summary.loc[i, 'examples'] = pd.unique(df.iloc[:, i])[:10]
        if na:
            df_summary.loc[i, 'n_na'], df_summary.loc[i, 'na_portion'] = summarise_na(df.iloc[:, i])
        if null:
            df_summary.loc[i, 'n_null'], df_summary.loc[i, 'null_portion'] = summarise_null(df.iloc[:, i])
        if col_type == type(1) or col_type == type(0.1):
            if zero:
                df_summary.loc[i, 'n_zeros'], df_summary.loc[i, 'zero_portion'] = summarise_zero(df.iloc[:, i])
            if negative:
                df_summary.loc[i, 'n_negatives'], df_summary.loc[i, 'negative_portion'], df_summary.loc[i, 'abs_sum_portion'] = summarise_negative(df.iloc[:, i])        
    return df_summary

In [2]:
def summarise_zero(df_column):
    import pandas as pd
    length = len(df_column)
    n_zeros = sum(df_column == 0)
    df_zero = pd.Series([n_zeros, n_zeros/length], index = ['n_zeros', 'zero_portion'])
    return df_zero

In [3]:
def summarise_negative(df_column):
    '''
    Return a pandas series consist of number of negative figures in a chosen column,
    the portion of it in the data and its impact (portion of negative sum over positive sum)
    Argument:
        df_column: a pandas dataframe column, or a pandas series
    '''
    import pandas as pd
    negative = pd.DataFrame(df_column.values, columns = ['col']).query('col < 0')
    n_neg = len(negative)
    abs_sum_neg = negative.sum().abs()[0]
    positive = pd.DataFrame(df_column.values, columns = ['col']).query('col > 0')
    n_pos = len(positive)
    sum_pos = positive.sum()[0]
    df_negative = pd.Series(data = {
        'n_negatives' : n_neg,
        'negative_portion' : n_neg / (n_neg + n_pos),
        'abs_sum_portion' : (abs_sum_neg / sum_pos)
    })
    return df_negative

In [9]:
def summarise_na(df_column):
    '''
    Return a pandas series consist of number of na cells in a chosen column and
    the portion of it in the data
    Argument:
        df_column: a pandas dataframe column, or a pandas series
    '''
    import pandas as pd
    length = len(df_column)
    n_na = length - df_column.notna().sum()
    return pd.Series([n_na, n_na / length], index = ['n_na', 'na_portion'])

In [21]:
def summarise_null(df_column):
    '''
    Return a pandas series consist of number of null cells in a chosen column and
    the portion of it in the data
    Argument:
        df_column: a pandas dataframe column, or a pandas series
    '''
    import pandas as pd
    length = len(df_column)
    n_null = length - df_column.notnull().sum()
    return pd.Series([n_null, n_null / length], index = ['n_null', 'null_portion'])

In [28]:
# import pandas as pd
# a = pd.read_csv('df_test.csv')
# overview_data(a)

,Column,type,n_unique,examples
0,current_amount,float64,898,"[5000.0, 2500.0, 2400.0, 10000.0, 3000.0, 7000..."
1,durations,object,2,"[ 36 months, 60 months, nan]"
2,interest,object,394,"[ 10.65%, 15.27%, 15.96%, 13.49%, 12.69%, ..."
3,monthly,float64,16459,"[162.87, 59.83, 84.33, 339.31, 67.79, 156.46, ..."
4,rank,object,7,"[B, C, A, E, F, D, G, nan]"
5,home_ownership,object,5,"[RENT, OWN, MORTGAGE, OTHER, NONE, nan]"
6,income,float64,5597,"[24000.0, 30000.0, 12252.0, 49200.0, 80000.0, ..."
7,verification_status,object,3,"[Verified, Source Verified, Not Verified, nan]"
8,day_recorded,object,55,"[Dec-2011, Nov-2011, Oct-2011, Sep-2011, Aug-2..."
9,stat,object,4,"[Fully Paid, Charged Off, nan, Does not meet t..."
10,usage,object,14,"[credit_card, car, small_business, other, wedd..."
11,record,float64,2894,"[27.65, 1.0, 8.72, 20.0, 17.94, 11.2, 23.51, 5..."
12,first_entry,object,530,"[Jan-1985, Apr-1999, Nov-2001, Feb-1996, Jan-1..."
13,recent_entries,float64,44,"[3.0, 2.0, 10.0, 15.0, 9.0, 7.0, 4.0, 11.0, 14..."
14,total_entries,float64,83,"[9.0, 4.0, 10.0, 37.0, 38.0, 12.0, 11.0, 13.0,..."
15,invoice,float64,22937,"[8472.0, 10713.0, 12139.0, 6099.0, -12129.0, -..."
16,interest_amount,float64,37462,"[863.16, 435.17, 605.67, 2214.92, 1066.91, 632..."
17,recent_date,object,112,"[Jan-2015, Apr-2013, Jun-2014, Jan-2017, May-2..."
18,recent_pay,float64,37260,"[171.62, 119.66, 649.91, 357.48, 67.3, 161.03,..."